/*

    An interactive, visual representation of the bm Cologne in 360°
    Copyright © 2024 Thiemo Küpper

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/
#progress {
    width: 0;
    height: 1%;
    position: fixed;
    top: 0;
    background: #07436a;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease-in;
}

#progress.finish {
    opacity: 0;
}